<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340633285673-vm7kf3i82c89cdeucesgj10f8s7eekdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340633285673-vm7kf3i82c89cdeucesgj10f8s7eekdo</string>
	<key>API_KEY</key>
	<string>AIzaSyDYeoP-A2nWknjYApdOHcI_ep4QhWQGQyc</string>
	<key>GCM_SENDER_ID</key>
	<string>340633285673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chen-IOS.Budget-Management</string>
	<key>PROJECT_ID</key>
	<string>budget-management-chen</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-management-chen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340633285673:ios:2b92fdc77fd41f9ef35838</string>
</dict>
</plist>